@import "../../assets/style/base";

#error{
  .top{
    font-size: 24px;
    .el-tag{
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .error-msg{
    margin-top: 15px;
    background: #eeeeee;
    padding: 15px;

    .typerror-msg-title{
      font-size: 18px;
      margin-top: 30px;
      &:first-child{
        margin-top: 0px;
      }
    }

    .error-msg-list{
      .error-msg-item{
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 0;
        label{
          width: 150px;
          margin-right: 10px;
          color: #999999;
        }
      }
    }
  }
}

#rrew-palyer{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 99;

  .el-icon-close{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 50px;
    margin-right: 50px;
  }

  .rr-player{
    margin: 0 auto !important;
  }
}
